/*COLOR Rules */
/**KULER BASE**/
.visible-phone {
  display: none !important;
}
.visible-tablet {
  display: none !important;
}
.hidden-desktop {
  display: none !important;
}
.visible-desktop {
  display: inherit !important;
}
@media (min-width: 768px) and (max-width: 979px) {
  .hidden-desktop {
    display: inherit !important;
  }
  .visible-desktop {
    display: none !important ;
  }
  .navbar {
    overflow: visible;
  }
  .visible-tablet {
    display: inherit !important;
  }
  .hidden-tablet {
    display: none !important;
  }
}
@media (max-width: 767px) {
  .hidden-desktop {
    display: inherit !important;
  }
  .visible-desktop {
    display: none !important;
  }
  .navbar {
    overflow: visible;
  }
  .visible-phone {
    display: inherit !important;
  }
  .hidden-phone {
    display: none !important;
  }
}
* {
margin: 0;
}
.wrapper {
min-height: 100%;
height: auto !important;
height: 100%;
margin: 0 auto -4em;
}
.footer, .push {
height: 4em;
}
html,body{
	height: 100%;
}
html {
  background: #666666;
}
body {
  padding: 0;
  color: white;
  margin: 0;
  font-family: 'Open Sans', sans-serif;
  font-weight: 300;
  font-size: 1em;
}
.loginframe{
	display: block;
	margin-left: auto;
	margin-right: auto;
	width: 30%;
	background:#333;
	padding: 2% 2%;
	margin-bottom: 3%;
	border: 2px solid white;

}
img.titleimage{
	display: block;
	margin-right: auto;
	margin-left: auto;
	margin-top: 3%;
	margin-bottom: 5%;
}
.punchBlock {
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  width: 30%;
  height: 20%;
  position: relative;
  top: 15%;
  left: 35%;
  padding: 20px;
  overflow: hidden;
  border: none;
  font: normal 16px/1 "Times New Roman", Times, serif;
  color: rgba(255,255,255,1);
  text-align: center;
  -o-text-overflow: ellipsis;
  text-overflow: ellipsis;
  background: #0199d9;
  -webkit-box-shadow: 1px 1px 1px 0 rgba(0,0,0,0.3) ;
  box-shadow: 1px 1px 1px 0 rgba(0,0,0,0.3) ;
  text-shadow: 1px 1px 1px rgba(0,0,0,0.2) ;
}
.homeblock {
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  width: 100%;
  height: 90%;
  top: 10%;
  padding: 20px;
  overflow: hidden;
  border: none;
  font: normal 25px/1 "Times New Roman", Times, serif;
  color: #999
  text-align: center;
  -o-text-overflow: ellipsis;
  text-overflow: ellipsis;
  background: rgba(86,84,84,1);
  -webkit-box-shadow: 1px 1px 1px 0 rgba(0,0,0,0.3) ;
  box-shadow: 1px 1px 1px 0 rgba(0,0,0,0.3) ;
  text-shadow: 1px 1px 1px rgba(0,0,0,0.2) ;
}
.homebutton:hover{
	background = gold;
}
.homebutton {

  display: inline-block;
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  margin-top: 1%;
  width: 30%;
  height: 30%;
  cursor: pointer;
  padding: 7% 9.5%;
  border: .5% solid #999;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  font: normal 300%/normal "Times New Roman", Times, serif;
  color: rgba(255,255,255,0.9);
  text-align: center;
  -o-text-overflow: clip;
  text-overflow: clip;
  background: #0199d9;
  -webkit-box-shadow: 2px 2px 2px 0 rgba(0,0,0,0.2) ;
  box-shadow: 2px 2px 2px 0 rgba(0,0,0,0.2) ;
  text-shadow: -1px -1px 0 rgba(15,73,168,0.66) ;
  -webkit-transition: all 300ms cubic-bezier(0.42, 0, 0.58, 1);
  -moz-transition: all 300ms cubic-bezier(0.42, 0, 0.58, 1);
  -o-transition: all 300ms cubic-bezier(0.42, 0, 0.58, 1);
  transition: all 300ms cubic-bezier(0.42, 0, 0.58, 1);
}
.extrahomebutton {

  display: inline-block;
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  margin-top: 1%;
  width: 30%;
  height: 30%;
  cursor: pointer;
  padding: 7% 9.5%;
  border: .5% solid #999;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  font: normal 300%/normal "Times New Roman", Times, serif;
  color: rgba(255,255,255,0.9);
  text-align: center;
  -o-text-overflow: clip;
  text-overflow: clip;
  background: #C63;
  -webkit-box-shadow: 2px 2px 2px 0 rgba(0,0,0,0.2) ;
  box-shadow: 2px 2px 2px 0 rgba(0,0,0,0.2) ;
  text-shadow: -1px -1px 0 rgba(15,73,168,0.66) ;
  -webkit-transition: all 300ms cubic-bezier(0.42, 0, 0.58, 1);
  -moz-transition: all 300ms cubic-bezier(0.42, 0, 0.58, 1);
  -o-transition: all 300ms cubic-bezier(0.42, 0, 0.58, 1);
  transition: all 300ms cubic-bezier(0.42, 0, 0.58, 1);
}
*,
*:after,
*::before {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
table.hovertable {
	font-family: verdana,arial,sans-serif;
	font-size:11px;
	color:#333333;
	border-width: 1px;
	border-color: #999999;
	border-collapse: collapse;
}
table.hovertable th {
	background-color:#c3dde0;
	border-width: 1px;
	padding: 8px;
	border-style: solid;
	border-color: #a9c6c9;
}
table.hovertable tr {
	background-color:#5EA5D9;
}
table.hovertable tr:hover{
	background-color: #ffff99;
}
table.hovertable td {
	border-width: 1px;
	padding: 8px;
	border-style: solid;
	border-color: #06F;
}
.center{
	align: center;
	position: relative;
}

.relative{
	position: relative;
	margin-right: 20%;
}

.blockcenter{
	margin-top: 5px;
	text-align:center;
}
.createdpo {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  width: 50%;
  position: relative;
  left: 25%;
  padding: 20px;
  overflow: hidden;
  border: none;
  font: normal 43px/1 "Times New Roman", Times, serif;
  color: rgba(255,255,255,1);
  text-align: center;
  -o-text-overflow: ellipsis;
  text-overflow: ellipsis;
  background: #0199d9;
  -webkit-box-shadow: 1px 1px 1px 0 rgba(0,0,0,0.3) ;
  box-shadow: 1px 1px 1px 0 rgba(0,0,0,0.3) ;
  text-shadow: 1px 1px 1px rgba(0,0,0,0.2) ;
}
.jobinfo1 {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  width: 100%;
  height: 100%;
  margin-top: 2%;
  position: relative;
  left: 0;
  padding: 20px;
  overflow: hidden;
  border: none;
  font: normal 43px/1 "Times New Roman", Times, serif;
  color: rgba(255,255,255,1);
  text-align: left;
  -o-text-overflow: ellipsis;
  text-overflow: ellipsis;
  background: #0081b5;
  -webkit-box-shadow: 1px 1px 1px 0 rgba(0,0,0,0.3) ;
  box-shadow: 1px 1px 1px 0 rgba(0,0,0,0.3) ;
  text-shadow: 1px 1px 1px rgba(0,0,0,0.2) ;
}
.extrainfo1 {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  width: 100%;
  position: relative;
  left: 50%;
  padding: 20px;
  overflow: hidden;
  border: none;
  font: normal 43px/1 "Times New Roman", Times, serif;
  color: rgba(255,255,255,1);
  text-align: left;
  -o-text-overflow: ellipsis;
  text-overflow: ellipsis;
  background: #0081b5;
  -webkit-box-shadow: 1px 1px 1px 0 rgba(0,0,0,0.3) ;
  box-shadow: 1px 1px 1px 0 rgba(0,0,0,0.3) ;
  text-shadow: 1px 1px 1px rgba(0,0,0,0.2) ;
}
.jobinfo2 {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  width: 100%;
  margin-top: 2%;
  position: relative;
  left: 0;
  padding: 20px;
  overflow: hidden;
  border: none;
  font: normal 43px/1 "Times New Roman", Times, serif;
  color: rgba(255,255,255,1);
  text-align:left;
  -o-text-overflow: ellipsis;
  text-overflow: ellipsis;
  background: #0199d9;
  -webkit-box-shadow: 1px 1px 1px 0 rgba(0,0,0,0.3) ;
  box-shadow: 1px 1px 1px 0 rgba(0,0,0,0.3) ;
  text-shadow: 1px 1px 1px rgba(0,0,0,0.2) ;
}
.extrainfo2 {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  width: 50%;
  position: absolute;
  left: 50%;
  padding: 20px;
  overflow: hidden;
  border: none;
  font: normal 43px/1 "Times New Roman", Times, serif;
  color: rgba(255,255,255,1);
  text-align: left;
  -o-text-overflow: ellipsis;
  text-overflow: ellipsis;
  background: #0199d9;
  -webkit-box-shadow: 1px 1px 1px 0 rgba(0,0,0,0.3) ;
  box-shadow: 1px 1px 1px 0 rgba(0,0,0,0.3) ;
  text-shadow: 1px 1px 1px rgba(0,0,0,0.2) ;
}

.title{
	color: white;
	font-size: 25px;
	position:relative;
	text-align: center;
}
.errorhome {
	position: absolute;
	align: center;
	color: red;
	font-size: 12px;	
}
.btnhome {  
	margin-left=auto;
	position: relative;
    text-align: center;
    width: 84px;
    height: 45px;   
    background: transparent;
    border: none;
    color: white;   
    font-size:14px;
    font-weight:700;
}
.timeCard {
	margin:0px;padding:0px;
	width:100%;
	box-shadow: 10px 10px 5px #888888;
	border:1px solid #000000;
	
	-moz-border-radius-bottomleft:3px;
	-webkit-border-bottom-left-radius:3px;
	border-bottom-left-radius:3px;
	
	-moz-border-radius-bottomright:3px;
	-webkit-border-bottom-right-radius:3px;
	border-bottom-right-radius:3px;
	
	-moz-border-radius-topright:3px;
	-webkit-border-top-right-radius:3px;
	border-top-right-radius:3px;
	
	-moz-border-radius-topleft:3px;
	-webkit-border-top-left-radius:3px;
	border-top-left-radius:3px;
}.timeCard table{
    border-collapse: collapse;
        border-spacing: 0;
	width:100%;
	height:100%;
	margin:0px;padding:0px;
}.timeCard tr:last-child td:last-child {
	-moz-border-radius-bottomright:3px;
	-webkit-border-bottom-right-radius:3px;
	border-bottom-right-radius:3px;
}
.timeCard table tr:first-child td:first-child {
	-moz-border-radius-topleft:3px;
	-webkit-border-top-left-radius:3px;
	border-top-left-radius:3px;
}
.timeCard table tr:first-child td:last-child {
	-moz-border-radius-topright:3px;
	-webkit-border-top-right-radius:3px;
	border-top-right-radius:3px;
}.timeCard tr:last-child td:first-child{
	-moz-border-radius-bottomleft:3px;
	-webkit-border-bottom-left-radius:3px;
	border-bottom-left-radius:3px;
}.timeCard tr:hover td{
	
}
.timeCard tr:nth-child(odd){ background-color:#1389dd; }
.timeCard tr:nth-child(even)    { background-color:#ffffff; }.timeCard td{
	vertical-align:middle;
	
	
	border:1px solid #000000;
	border-width:0px 1px 1px 0px;
	text-align:left;
	padding:8px;
	font-size:10px;
	font-family:Arial;
	font-weight:normal;
	color:#000000;
}.timeCard tr:last-child td{
	border-width:0px 1px 0px 0px;
}.timeCard tr td:last-child{
	border-width:0px 0px 1px 0px;
}.timeCard tr:last-child td:last-child{
	border-width:0px 0px 0px 0px;
}
.timeCard tr:first-child td{
		background:-o-linear-gradient(bottom, #0171c4 5%, #148be0 100%);	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #0171c4), color-stop(1, #148be0) );
	background:-moz-linear-gradient( center top, #0171c4 5%, #148be0 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr="#0171c4", endColorstr="#148be0");	background: -o-linear-gradient(top,#0171c4,148be0);

	background-color:#0171c4;
	border:0px solid #000000;
	text-align:center;
	border-width:0px 0px 1px 1px;
	font-size:14px;
	font-family:Helvetica;
	font-weight:bold;
	color:#ffffff;
}
.timeCard tr:first-child:hover td{
	background:-o-linear-gradient(bottom, #0171c4 5%, #148be0 100%);	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #0171c4), color-stop(1, #148be0) );
	background:-moz-linear-gradient( center top, #0171c4 5%, #148be0 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr="#0171c4", endColorstr="#148be0");	background: -o-linear-gradient(top,#0171c4,148be0);

	background-color:#0171c4;
}
.timeCard tr:first-child td:first-child{
	border-width:0px 0px 1px 0px;
}
.timeCard tr:first-child td:last-child{
	border-width:0px 0px 1px 1px;
}
.blueinput {
  display: inline-block;
  width: 50%;
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  padding: 10px 20px;
  border: 1px solid #b7b7b7;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  font: normal 16px/normal "Times New Roman", Times, serif;
  color:#0CF;
  -o-text-overflow: clip;
  text-overflow: clip;
  background:#CCC;
  -webkit-box-shadow: 2px 2px 2px 0 rgba(0,0,0,0.2) inset;
  box-shadow: 2px 2px 2px 0 rgba(0,0,0,0.2) inset;
  text-shadow: 1px 1px 0 rgba(255,255,255,0.66) ;
  -webkit-transition: all 200ms cubic-bezier(0.42, 0, 0.58, 1);
  -moz-transition: all 200ms cubic-bezier(0.42, 0, 0.58, 1);
  -o-transition: all 200ms cubic-bezier(0.42, 0, 0.58, 1);
  transition: all 200ms cubic-bezier(0.42, 0, 0.58, 1);
}
.smallblueinput {
  display: inline-block;
  width: 20%;
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  padding: 10px 20px;
  border: 1px solid #b7b7b7;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  font: normal 16px/normal "Times New Roman", Times, serif;
  color:#0CF;
  -o-text-overflow: clip;
  text-overflow: clip;
  background:#CCC;
  -webkit-box-shadow: 2px 2px 2px 0 rgba(0,0,0,0.2) inset;
  box-shadow: 2px 2px 2px 0 rgba(0,0,0,0.2) inset;
  text-shadow: 1px 1px 0 rgba(255,255,255,0.66) ;
  -webkit-transition: all 200ms cubic-bezier(0.42, 0, 0.58, 1);
  -moz-transition: all 200ms cubic-bezier(0.42, 0, 0.58, 1);
  -o-transition: all 200ms cubic-bezier(0.42, 0, 0.58, 1);
  transition: all 200ms cubic-bezier(0.42, 0, 0.58, 1);
}
.numberinput {
  display: inline-block;
  width: 10%;
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  padding: 10px 20px;
  border: 1px solid #b7b7b7;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  font: normal 16px/normal "Times New Roman", Times, serif;
  color:#0CF;
  -o-text-overflow: clip;
  text-overflow: clip;
  background:#CCC;
  -webkit-box-shadow: 2px 2px 2px 0 rgba(0,0,0,0.2) inset;
  box-shadow: 2px 2px 2px 0 rgba(0,0,0,0.2) inset;
  text-shadow: 1px 1px 0 rgba(255,255,255,0.66) ;
  -webkit-transition: all 200ms cubic-bezier(0.42, 0, 0.58, 1);
  -moz-transition: all 200ms cubic-bezier(0.42, 0, 0.58, 1);
  -o-transition: all 200ms cubic-bezier(0.42, 0, 0.58, 1);
  transition: all 200ms cubic-bezier(0.42, 0, 0.58, 1);
}
.bluebutton {
  display: inline-block;
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  position: relative;
  cursor: pointer;
  padding: 10px 20px;
  border: 2px solid rgba(0,187,255,0.69);
  -webkit-border-radius: 3px;
  border-radius: 3px;
  font: normal 18px/normal Arial, Helvetica, sans-serif;
  color: rgba(255,255,255,0.9);
  -o-text-overflow: clip;
  text-overflow: clip;
  background: -webkit-linear-gradient(-90deg, rgba(109,179,242,1) 0, rgba(84,163,238,1) 50%, rgba(54,144,240,1) 51%, rgba(30,105,222,1) 100%);
  background: -moz-linear-gradient(180deg, rgba(109,179,242,1) 0, rgba(84,163,238,1) 50%, rgba(54,144,240,1) 51%, rgba(30,105,222,1) 100%);
  background: linear-gradient(180deg, rgba(109,179,242,1) 0, rgba(84,163,238,1) 50%, rgba(54,144,240,1) 51%, rgba(30,105,222,1) 100%);
  background-position: 50% 50%;
  -webkit-background-origin: padding-box;
  background-origin: padding-box;
  -webkit-background-clip: border-box;
  background-clip: border-box;
  -webkit-background-size: auto auto;
  background-size: auto auto;
  -webkit-box-shadow: 2px 2px 2px 0 rgba(0,0,0,0.69) ;
  box-shadow: 2px 2px 2px 0 rgba(0,0,0,0.69) ;
  text-shadow: -1px -1px 0 rgba(15,73,168,0.66) ;
}
.navbar {
  position: relative;
  z-index: 99;
  width: 100%;
  min-width: 520px;
  height: 40px;
  max-height: 40px;
  background-color: #FFFFFF;
  background: -webkit-gradient(linear, left top, left bottom, from(#0b8c8c), to(#0b8787));
  background: -webkit-linear-gradient(top, #0b8c8c, #0b8787);
  background: -moz-linear-gradient(top, #0b8c8c, #0b8787);
  background: -ms-linear-gradient(top, #0b8c8c, #0b8787);
  background: -o-linear-gradient(top, #0b8c8c, #0b8787);
  border-bottom: 2px solid #0c9595;
  -webkit-box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2);
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2);
}
.brand {
  float: left;
  padding: 0;
  margin: 0;
  padding: 1px 5px;
  display: inline-block;
}
.nav {
  padding: 0;
  margin: 0;
  display: block;
  text-align: left;
}
.nav li {
  position: relative;
  height: 40px;
  color: white;
  display: block;
  list-style: none;
  float: left;
  padding: 6px 15px;
}
.nav li a {
  color: white;
  text-decoration: none;
}
.nav li:first-child {
  border-left: 1px solid #097474;
}
.nav li:nth-last-child(3) {
  border-right: 1px solid #097474;
}
.nav li:hover,
.active-drop {
  background: #0da4a4;
}
.nav li:hover ul.dropdown-menu,
.active-drop ul.dropdown-menu {
  padding: 0;
  margin: 0;
  border: none;
  background: #0b8c8c;
  position: absolute;
  z-index: 98;
  top: 40px;
  right: 0;
  display: block;
  width: 250px;
}
.nav li:hover ul.dropdown-menu li,
.active-drop ul.dropdown-menu li {
  width: 100%;
  line-height: 20px;
  border: none;
  margin: 0;
}
.nav li.admin {
  float: right;
}
.nav li.search {
  width: 45px;
  border-right: 1px solid #097474;
  overflow: hidden;
  -webkit-transition: all 0.5s ease-in-out;
  -moz-transition: all 0.5s ease-in-out;
  -ms-transition: all 0.5s ease-in-out;
  -o-transition: all 0.5s ease-in-out;
  backface-visibility: hidden;
  -webkit-backface-visibility: hidden;
  /* Chrome and Safari */
  -moz-backface-visibility: hidden;
  /* Firefox */
  -ms-backface-visibility: hidden;
  /* Internet Explorer */
}
.nav li.search:hover,
.active-search {
  width: 250px;
}
.navbar-search {
  position: absolute;
  top: 5px;
  left: 45px;
}
.navbar-search input {
  font-weight: 300;
  font-size: 1em;
  border: none;
  background: #075d5d;
  color: white;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
}
.icon-angle-down {
  padding-left: 3px;
}
ul.dropdown-menu {
  display: none;
}
.mobile-dropdown {
  border-right: 1px solid #097474;
}
.mobile-dropdown:hover .mobile-menu,
.active-drop .mobile-menu {
  -webkit-transform: translate(0px, 0);
  -moz-transform: translate(0px, 0);
  -ms-transform: translate(0px, 0);
  -o-transform: translate(0px, 0);
  backface-visibility: hidden;
  -webkit-backface-visibility: hidden;
  /* Chrome and Safari */
  -moz-backface-visibility: hidden;
  /* Firefox */
  -ms-backface-visibility: hidden;
  /* Internet Explorer */
}
.mobile-dropdown:hover .mobile-admin,
.active-drop .mobile-admin {
  -webkit-transform: translate(0px, 0);
  -moz-transform: translate(0px, 0);
  -ms-transform: translate(0px, 0);
  -o-transform: translate(0px, 0);
  backface-visibility: hidden;
  -webkit-backface-visibility: hidden;
  /* Chrome and Safari */
  -moz-backface-visibility: hidden;
  /* Firefox */
  -ms-backface-visibility: hidden;
  /* Internet Explorer */
}
.mobile-admin {
  position: fixed;
  top: 40px;
  bottom: 0;
  right: 0px;
  display: block;
  width: 280px;
  background: #0b8c8c;
  overflow: hidden;
  -webkit-transform: translate(330px, 0);
  -moz-transform: translate(330px, 0);
  -ms-transform: translate(330px, 0);
  -o-transform: translate(330px, 0);
  -webkit-transition: all 0.5s ease-in-out;
  -moz-transition: all 0.5s ease-in-out;
  -ms-transition: all 0.5s ease-in-out;
  -o-transition: all 0.5s ease-in-out;
}
.mobile-menu {
  position: fixed;
  top: 40px;
  bottom: 0;
  left: 0px;
  display: block;
  width: 300px;
  background: #0b8c8c;
  overflow: hidden;
  -webkit-transform: translate(-330px, 0);
  -moz-transform: translate(-330px, 0);
  -ms-transform: translate(-330px, 0);
  -o-transform: translate(-330px, 0);
  -webkit-transition: all 0.5s ease-in-out;
  -moz-transition: all 0.5s ease-in-out;
  -ms-transition: all 0.5s ease-in-out;
  -o-transition: all 0.5s ease-in-out;
}
.admin-wrapper,
.menu-wrapper {
  overflow-y: scroll;
  width: 390px;
  height: 100%;
}
.mobile-admin ul.mobile-nav,
.mobile-menu ul.mobile-nav {
  position: relative;
  right: 40px;
  top: 0;
  font-size: 1.2em;
  font-weight: 400;
  width: 100%;
  border-left: 1px solid #0c9f9f;
}
.mobile-admin ul.mobile-nav li,
.mobile-menu ul.mobile-nav li {
  border: none;
  padding-bottom: 0px;
  border-top: 1px solid #0c9f9f;
  width: 100%;
  position: relative;
  height: 100%;
}
.mobile-menu ul.mobile-nav li:hover {
  background: #0c9595;
}
.mobile-menu ul.mobile-nav li:hover ul.dropdown-menu {
  padding: 0;
  margin: 0;
  border: none;
  background: #0b8c8c;
  position: relative;
  z-index: 98;
  top: 0;
  right: 15px;
  display: block;
  width: 100%;
}
.mobile-menu ul.mobile-nav li:hover ul.dropdown-menu li {
  width: 100%;
  line-height: inherit;
  border-top: 1px solid #0c9f9f;
  margin: 0;
}
.mobile-menu ul.mobile-nav li ul.dropdown-menu {
  display: block;
  overflow: hidden;
  height: 100%;
  padding: 0;
  margin: 0;
  border: none;
  background: #0c9595;
  position: relative;
  z-index: 98;
  top: 0;
  right: 15px;
  width: 100%;
}
.mobile-menu ul.mobile-nav li ul.dropdown-menu li {
  font-size: .9em;
  font-weight: 300;
  display: inline-block;
  width: 100%;
  line-height: inherit;
  border-top: 1px solid #0c9f9f;
  margin: 0;
}
